body {
	background:red;
	background:green;
}body {
	background:red;
	background: rgb(118, 0, 128);
}
body {
	background:red;
	background:green;
}body {
	background:red;
	background: rgb(10, 0, 128);
}

